* {
  margin: 0;
}
.square {
  width: 100px;
  height: 100px;
  border: 2px solid brown;
}
.square:hover {
  border: 2.2px solid green;
}
.square:active {
  background-color: rgb(182, 248, 182);
  box-shadow: 5px 5px lightcoral;
  transform: translateX(3px);
  transform: translateY(-6px);
}
